<!-- Footer -->
<footer class="footer">

    <!-- Footer Columns -->
    <div class="nh-padding">
        <div class="container">
            <div class="row">

                <!-- Footer Widget -->
                <div class="col-lg-3 col-md-3 col-xs-6 full-width-640">
                    <div class="footer-widget logo-widget">
                        <img src="images/footer-logo.png" alt="">
                        <span>The Test Of Good Food</span>
                        <p>Presenting the most exclusive theme “FOODIN”. This theme is completely made by photoshop CC and illustrator CC with tried to follow UX roles and regulation. Also focused on the target user of restaurants who want to book a table or buy some healthy foods. </p>
                    </div>
                </div>
                <!-- Footer Widget -->

                <!-- Footer Widget -->
                <div class="col-lg-3 col-md-3 col-xs-6 full-width-640">
                    <div class="footer-widget working-hours">
                        <h3>Working Hours</h3>
                        <ul>
                            <li>
                                <strong><i class="fa fa-clock-o"></i>Monday To Friday</strong>
                                <p>8:00 am to 10:00 pm (Breakfast)</p>
                                <p>11:00am to 10:00pm (Lunch/Diner)</p>
                            </li>
                            <li>
                                <strong><i class="fa fa-clock-o"></i>Saturday &amp; Sunday</strong>
                                <p>10:00 am to 11:00 pm (Breakfast)</p>
                                <p>11:00 am to 12:00 pm (Lunch/Dinner)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget -->

                <!-- Footer Widget -->
                <div class="col-lg-3 col-md-3 col-xs-6 full-width-640">
                    <div class="footer-widget flicker-img">
                        <h3>Recent Work</h3>
                        <ul>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="0.2s" src="images/flicker-img/img-01.jpg" alt="img-01" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                </a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="0.4s" src="images/flicker-img/img-02.jpg" alt="img-02" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                </a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="0.6s" src="images/flicker-img/img-03.jpg" alt="img-03" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                </a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="0.8s" src="images/flicker-img/img-04.jpg" alt="img-04" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                                </a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="1s" src="images/flicker-img/img-05.jpg" alt="img-05" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                                </a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img class="animate fadeInUp" data-wow-delay="1.2s" src="images/flicker-img/img-06.jpg" alt="img-06" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget -->

                <!-- Footer Widget -->
                <div class="col-lg-3 col-md-3 col-xs-6 full-width-640">
                    <div class="footer-widget adrress">
                        <h3>Contact ifo</h3>
                        <ul class="adress-list">
                            <li><i class="fa fa-map-marker"></i>732/21 Second Street, Manchester, King Street Kingston United Kingdom</li>
                            <li><i class="fa fa-phone"></i>+92 322 4303 425, +880 167 104 3098</li>
                            <li><i class="fa fa-envelope"></i>imi@foodin.com</li>
                        </ul>
                        <ul class="social-icons-s">
                            <li>
                                <a class="fa fa-facebook-square" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter-square" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest-square" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin-square" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus-square" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget -->

            </div>
        </div>
    </div>
    <!-- Footer Columns -->

    <!-- Sub Footer -->
    <div class="sub-footer">
        <p>Copyright © 2016 <span>NH Studio</span>
        </p>
    </div>
    <!-- Sub Footer -->

</footer>
<!-- Footer -->
