<!-- Header -->
<header class="header header-2">

    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">

            <!-- Left Top Bar -->
            <div class="phone-numbers pull-left">
                <ul>
                    <li><i class="fa fa-clock-o"></i>Order Foods 24/7</li>
                    <li><i class="fa fa-phone"></i>061 9876 5432</li>
                    <li>
                        <div class="search-bar">
                            <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#search"><i class="fa fa-search"></i></a>
                            <div id="search" class="search-modal">
                                <form role="search" class="position-center-center" id="searchform" action="http://bach2.com/search" method="get">
                                    <input value="" name="q" type="search" placeholder="type to search">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Left Top Bar -->

            <!-- Social Icons -->
            <div class="social-icons pull-right">
                <ul>
                    <li>
                        <a class="fa fa-facebook" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest-p" href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"></a>
                    </li>
                </ul>
            </div>
            <!-- Social Icons -->

        </div>
    </div>
    <!-- Top Bar -->

    <!-- Nav -->
    <nav class="nav-holder">
        <div class="container p-relative">

            <!-- Logo -->
            <div class="logo">
                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#"><img src="images/logo.png" alt="">
                </a>
            </div>
            <!-- Logo -->

            <!-- Navigation  -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="navigation">
                        <ul class="nav-1">
                            <li class="active">
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">Home</a>
                                <ul>
                                    <li class="active"><a href="http://bach2.com/nh-studeo/foodcafe/home-1.html">Home 1</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-2.html">Home 2</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-3.html">Home 3</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-4.html">Home 4</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-5.html">Home 5</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-6.html">Home 6</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-7.html">Home 7</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/home-8.html">Home 8</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">about</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/about.html">about 1</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/about-2.html">about 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">menu</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/menu-list.html">menu list</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/menu-grid.html">menu grid</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/menu-overlay.html">menu overlay</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/menu-title.html">menu title</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">recipe</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-2-col.html">recipe 2 col</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-3-col.html">recipe 3 col</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-4-col.html">recipe 4 col</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-single-image.html">recipe single image</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-single-gallery.html">recipe single gallery</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/recipe-single-video.html">recipe single video</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="navigation">
                        <ul class="nav-2 pull-right">
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">blog</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-left-sidebar.html">blog left sidebar</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-right-sidebar.html">blog right sidebar</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-full-width.html">blog detail full width</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-detail-image.html">blog detail image</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-detail-gallery.html">blog detail gallery</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/blog-detail-video.html">blog detail video</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">shop</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/shop-full.html">shop</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/shop-detail.html">shop detail</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/shop-left-sidebar.html">shop left sidebar</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/shop-right-sidebar.html">shop right sidebar</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/shop-account.html">shop account</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/cart.html">shop cart</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/checkout.html">shop checkout</a></li>
                                </ul>
                            </li>
                            <li><a href="http://bach2.com/nh-studeo/foodcafe/contact.html">contact</a>
                            </li>
                            <li>
                                <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#">pages</a>
                                <ul>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/reservations.html">reservations</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/reservations-opentable.html">reservations-opentable</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/404.html">404</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/comming-soon.html">comming soon</a></li>
                                    <li><a href="http://bach2.com/nh-studeo/foodcafe/faq.html">faq</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="http://bach2.com/nh-studeo/foodcafe/home-2.html#res-menu" class="menu-ico"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
            <!-- Navigation  -->

        </div>
    </nav>
    <!-- Nav -->

</header>
<!-- Header -->
